extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura
block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros    
        .row.mb-5    
            .col-md-6 
                p Vivamus sed feugiat leo. Morbi ipsum tortor, blandit ut semper quis, congue in tortor. In tincidunt luctus nibh. Duis congue consectetur magna ac mattis. Ut et semper sem, eu condimentum diam. Proin feugiat sem id purus placerat imperdiet. 
               
                p Vivamus sed feugiat leo. Morbi ipsum tortor, blandit ut semper quis, congue in tortor. In tincidunt luctus nibh. Duis congue consectetur magna ac mattis. Ut et semper sem, eu condimentum diam. Proin feugiat sem id purus placerat imperdiet. 
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros",class="img-fluid")
        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h1 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2021 - 28 de Marzo de 2021
                        p.precio $2 500 Soles

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales

