extends ./layout/index
block contenido
    main.container.mt-5    
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")

            .col-md-7   
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id bibendum ipsum. Fusce vitae facilisis arcu. Suspendisse convallis et tellus at porttitor. Integer vitae sollicitudin urna. Duis vel nunc posuere, dictum neque id, finibus metus. Sed commodo porttitor nisi eu laoreet. Nulla facilisi. Morbi ligula turpis, cursus ut laoreet dictum, dictum a tellus.
                p In tincidunt tempor eleifend. Proin non massa condimentum, condimentum eros nec, consequat tortor. Cras tempor eros sem, ut feugiat mauris finibus eget. Etiam leo tellus, consequat in est eu, vehicula posuere mauris. Cras a pretium nunc, sed euismod mi. Donec dictum arcu a odio pretium maximus. Phasellus et diam nec neque pretium imperdiet. Curabitur eleifend, enim ac.
                p Vivamus in imperdiet ante. Vivamus est eros, mollis sit amet lobortis at, tempus id nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas a magna quis est blandit dignissim. Fusce pulvinar mauris ut dui viverra imperdiet. Fusce non semper lectus. Fusce gravida rhoncus consequat. In porttitor lectus a quam congue suscipit. Vivamus condimentum dui sem.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center    
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid  mb-4")
                    h2.mb-4 Seguridad
                    p In tincidunt tempor eleifend. Proin non massa condimentum, condimentum eros nec, consequat tortor.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad",class="img-fluid  mb-4")
                    h2.mb-4 Mejores Destinos
                    p In tincidunt tempor eleifend. Proin non massa condimentum, condimentum eros nec, consequat tortor.
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad",class="img-fluid  mb-4")
                    h2.mb-4 Mejores precios
                    p In tincidunt tempor eleifend. Proin non massa condimentum, condimentum eros nec, consequat tortor.

    